<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo1_静态表格.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>396E036B1CC9B25F00FDADDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>396E03841CC9B25F00FDADDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>396E038F1CC9B25F00FDADDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
